@import "tailwindcss";

@theme {
  --font-fugaz: var(--font-fugaz);
  --font-dm-sans: var(--font-dm-sans);
  --font-monoton: var(--font-monoton);
  --font-mudstone: "mudstone-sans", sans-serif;
  --font-astounder: "astounder-squared-lc-bb", sans-serif;

  --color-groovulator-black: #000000;
  --color-groovulator-blue: #0004ff;
  --color-groovulator-green: #7eff00;
  --color-groovulator-pink: #ff00d5;

  --color-taxidermia-blue-dark: #135c6c;
  --color-taxidermia-blue: #4fc6e0;
  --color-taxidermia-blue-light: #93dcec;

  --color-taxidermia-dark-green-dark: #3c5728;
  --color-taxidermia-dark-green: #74aa4e;
  --color-taxidermia-dark-green-light: #bbd7a8;

  --color-taxidermia-light-green-dark: #51661a;
  --color-taxidermia-light-green: #a4cd39;
  --color-taxidermia-light-green-light: #d0e599;

  --color-taxidermia-pink-dark: #691749;
  --color-taxidermia-pink: #d22f92;
  --color-taxidermia-pink-light: #e896c8;

  --color-taxidermia-orange-dark: #73380d;
  --color-taxidermia-orange: #e77724;
  --color-taxidermia-orange-light: #f2b88c;

  --color-taxidermia-yellow-dark: #807300;
  --color-taxidermia-yellow: #fbe300;
  --color-taxidermia-yellow-light: #fff380;
}

@custom-variant dark (&:where(.dark, .dark *));

.border-striped-green-white {
  border: 2px solid transparent;
  background-image:
    linear-gradient(#fefce8, #fefce8),
    repeating-conic-gradient(from 0deg at 50% 50%, #92e9c0 0deg 8deg, #ffffff 8deg 16deg);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.dark .border-striped-green-white {
  border: 2px solid transparent;
  background-image:
    linear-gradient(rgb(15 23 42 / 0.2), rgb(15 23 42 / 0.2)),
    repeating-conic-gradient(from 0deg at 50% 50%, #92e9c0 0deg 8deg, #ffffff 8deg 16deg);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

@keyframes snowfall {
  0% {
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateY(80px) translateX(15px);
    opacity: 1;
  }
}

.snow-dot {
  position: absolute;
  width: 3px;
  height: 3px;
  background: white;
  border-radius: 50%;
  animation: snowfall linear infinite;
  opacity: 1;
  box-shadow: 0 0 2px white;
}

/* Hide scrollbar for carousels */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

form.klaviyo-form p span {
  color: black !important;
}

.dark form.klaviyo-form p span {
  color: white !important;
}
